/* Style de base */

.dashboard{


/* En-tête */
.header {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  margin: 2px;
  text-align: center;
}

/* Conteneur principal */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Barre latérale */
.sidebar {
  background-color: $primary-color;
  padding: 10px;
  flex: 0 0 200px;
  color: $white;
  text-align: start;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: $white;
}

.sidebar li {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar a {
  color: $white;
  font-weight: bold;

  text-decoration: none;
}

.sidebar li:hover {
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

/* Contenu principal */
.main {
  background-color: $color-back;
  padding: 20px;
  flex: 1;
}

  .select-app{
    width: 150px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

/* Style responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 100%;
    order: 2;
  }

  .main {
    flex: 0 0 100%;
    order: 1;
  }

}
  .myrow{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    //transform: translateY(50%);

  }

  .myrow > div {
    background-color: $white;
    //width: 300px;
    min-height: 90px;
    margin: 10px;
    //text-align: center;
    //line-height: 75px;
    font-size: 30px;
    border-radius: 5px;
  }
}