
.my-input{

  margin: 10px;
  input{
    resize: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    //font-family: ;
    padding: 10px;
    background: $color-back;
  }

  .label{
    text-align: start;
  }
}